{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    User Profiles
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/highlighter/css/searchText.css') }}"  />
{% endblock %}
{% block body %}
    <h2>Manage Profiles</h2>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <ul class="list-group">
                <li class="list-group-item"><a href="/add-profile">Add Profiles</a></li>
                <li class="list-group-item"><a href="/manage-profiles">Manage Profiles</a></li>
                <li class="list-group-item"><a href="/list-profiles">List Profiles</a></li>
            </ul>
        </div>
    </div>
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/currencyconverter/js/conversion.js') }}"></script>
{% endblock %}
